<!DOCTYPE html>
<!-- 타임리프를 사용하기 위한 태그 선언 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 내부 css -->
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;

        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

    </style>
</head>

<body>

<!-- 테이블 선언 실시 -->
<table>

    <thead>
    <tr>
        <th>번호</th>
        <th>이름</th>
        <th>지자체명</th>
        <th>분류</th>
        <th>상세설명</th>
        <th>지원금</th>
    </tr>
    </thead>

    <tbody>
    <!-- tr th:each : 행 반복문을 수행하겠다는 의미입니다 [여러 데이터 출력] -->
    <tr th:each="policy : ${PolicyEntity}">
        <td><span th:text="${policy.BusinessNumber}"></span></td>
        <td><span th:text="${policy.BusinessName}"></span></td>
        <td><span th:text="${policy.BusinessSupportorganizationName}"></span></td>
        <td><span th:text="${policy.BusinessClassification}"></span></td>
        <td><span th:text="${policy.BusinessDetails}"></span></td>
        <td><span th:text="${policy.BusinessSupportBudget}"></span></td>
    </tr>
    </tbody>

</table>

</body>

</html>